<!DOCTYPE html>
<html>
{% load static %}
{% static "images" as baseUrl %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

</style>

<!--  open sidebar style-->
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>



<!--  -->
    <title>FLASK</title>
<link rel="stylesheet" href="{% static 'css\materialize.css' %}">
      <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body   style=" background-image: url('{% static 'images\bgimg.jpg' %}');
height: 100%;
 background-repeat: no-repeat;
  background-size: cover;">

<div class="row">
    <div class="col s4"><a href="#" class="brand-logo left"><img src="{% static 'images\uscclogo.png' %}" width=250px; height=60px;></a></div>
        <a href="#" class="brand-logo right" style="margin:0 300px 0 0"><img src="{% static 'images\amdocs.png' %}" width=250px; height=60px;"></a>
    </div>
</div>


<!-- =======================================================================Page Content Starts=======================================================================-->
<div style="height:100px; width:100%; background-color:#fff; opacity:0"></div>

 {% if user.is_authenticated %}


    <!--=======================================================================SIDE NAVE starts==================================================================-->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="{% static '../../' %}">HOME PAGE</a>
    <a href="{% static '../APP1/RimErrors' %}">RIM ERRORS PAGE</a>
    <a href="{% static '../APP1/search' %}">SEARCH FLASK CARD BY FILTERS</a>

    <a href="{% static '../APP1/approved' %}">My Approved Cards</a>
    <a href="{% static '../APP1/unapproved' %}">My Pending Cards</a>
    <a href="{% static '../accounts/logout' %}">Logout</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ MY ACTIONS</button>



<!--------------------------MAIN FORM STARTS--------------->
     <div class="row" id="Upload" style="display:block">
     <div class="col s4">
          <fieldset>
      <legend>FILTER</legend>

      <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
          {{ form.as_p }}



          <tr><th><label for="id_user">User:</label></th>
<td><text name="user" cols="40" rows="10"  required id="id_user">{{user.username}} </text></td></tr>
        </select>
        <button type="submit">
        <span class="glyphicon glyphicon-search"></span> Submit
      </button>
          </form>

<div style="background-color:lightblue">
    <span class="closebtn"  onclick="this.parentElement.style.display='none';">&times;</span>

        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
</div>


 </fieldset>
      </div>


      <div class="col s4">
      </div>



      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>


</div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
</div>
  {% else %}



<!-------------------------------------------------------------------------NEW SIED NAV FOR NOT LOGIN--------------------------------------------------------------------------------------->


<div id="mySidebar" class="sidebar">
    <a href="#" class="brand-logo left"><img src="{% static 'images\uscclogo.png' %}" width=200px; height=60px;></a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="{% static '../../' %}">HOME PAGE</a>
    <a href="{% static '../APP1/RimErrors' %}">RIM ERRORS PAGE</a>
    <a href="{% static '../APP1/search' %}">SEARCH CARDS BY FILTER</a>

</div>

<div id="main">
  <button type="submit"  class="openbtn" onclick="openNav()">☰ MY ACTIONS</button>
    <button type="submit" class="btn" onclick="myLoginFunction();">Login</button>
    <button type="submit" class="btn" onclick="myRegisterFunction();">Register</button>
    <a href="{% static '../admin' %}"><button type="submit" class="btn">Admin Login</button></a>


<div class="row" id="userDetails" >
 <div>




    <!--=======================================================================Login Form Starts=======================================================================-->

<div class="row" id="login" style="display:block">

      <div class="col s4" >
          <form action="{% static '../accounts/login' %}" method="post">
                 <fieldset>
      <legend>LOGIN</legend>
    {% csrf_token %}


<label >ENTER USER NAME</label>
<input type="text" name="username" id="user_name" class="validate" REQUIRED  >
<label >ENTER PASSWORD</label>
<input id="password" type="password" name="password" class="validate" REQUIRED>

<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

</fieldset>
</form>
      </div>

      <div class="col s4">


   <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>

</div>

<!---------------------login form ends------------------------------------->

     <!--=======================================================================Register Form Starts=======================================================================-->

<div class="row" id="register" style="display:none">

      <div class="col s4">
          <fieldset>
      <legend>REGISTER</legend>
        <form action="{% static '../accounts/register' %}" method="post">
{% csrf_token %}
<label >ENTER FIRST NAME</label>
<input type="text" name="first_name" required  >
<label>ENTER LAST NAME </label>
<input type="text" name="last_name">
<label>ENTER A USERNAME</label>
<input type="text" name="username" required >
    <label>ENTER EMAIL ID </label>
<input type="email" name="email" required>
    <label>ENTER ENTER PASSWORD </label>
<input type="password" name="password1" required>
    <label>PLEASE CONFIRM PASSWORD</label>
<input type="password" name="password2" required>

              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>


</form>
          </fieldset>
      </div>


      <div class="col s4">
      </div>



      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
</div>

<!-------------------------------------------------------------------------NEW SIED NAV FOR NOT LOGIN--------------------------------------------------------------------------------------->




{% endif %}






<!--======================================================================= Alert box for Message Starts=======================================================================-->

<div class="row">

      <div >
        <!-- Promo Content 1 goes here -->
      </div>
      <div class="col s4">
        {% for message in messages %}

<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   {{message}}</div>

{% endfor %}


      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
<!--======================================================================= Aler bo xor  Message Ends  =======================================================================-->


<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/testing.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
</div>
</div>
</body>
</html>



